<div class="row">
  <div class="col-xs-12">
    <div class="well" align="center">
      <h2><%= link_to("武漢肺炎最新情況", "https://news.google.com/search?q=%E6%AD%A6%E6%BC%A2%E8%82%BA%E7%82%8E&hl=zh-TW&gl=TW&ceid=TW%3Azh-Hant", target: "_blank") %></h2>
    </div>
  </div>
</div>
<% if @todays_link.present? %>
  <div class="row">
    <div class="col-xs-12">
      <div class="row transitions-enabled infinite-scroll clearfix has-gutters" id="masonry-container">
        <% if @query_string.nil? %>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box todays">
            <%= link_to(@todays_link) do %>
              <div class="innerbox" align="center">
                <span class="label label-info label-large label-title today-label"><%= render_link_title(@todays_link) %></span>
                <div align="center">
                  <%= image_tag(@todays_link.photos.first.file) %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <% @links.each do |link| %>
          <div class="box others">
            <%= link_to(link) do %>
              <div class="innerbox" align="center">
                <span class="label label-info label-large label-title"><%= render_link_title(link) %></span>
                <div align="center">
                  <%= image_tag(link.photos.first.file.tiny) %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" align="center">
      <%= will_paginate @links, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
<% end %>
<%= content_for :javascripts do %>
<script type="text/javascript">
$(function(){
  $('#masonry-container').masonry({
    itemSelector: '.box',
    columnWidth: function( containerWidth ) {
      return containerWidth / 6;
    },
    gutterWidth: 0
  });
})
// alert($( window ).width());

window.onload = function(){
  $('#masonry-container').masonry();
}
</script>
<% end %>