<div class="row">
  <div class="col-xs-12 masonry-container">
    <% if @query_string.nil? %>
      <div class="box grid-item-bigger" style="">
        <%= link_to(@todays_link) do %>
          <div class="innerbox" align="center">
            <span class="label label-info label-large label-title today-label"><%= render_link_title(@todays_link) %></span>
            <div align="center">
              <%= image_tag(@todays_link.photos.first.file) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% @links.each do |link| %>
      <div class="box grid-item" style="">
        <%= link_to(link) do %>
          <div class="innerbox" align="center">
            <% if link.link_type == "sports" %>
              <span class="label label-info label-large label-title complained"><%= render_link_title(link) %></span>
            <% else %>
              <span class="label label-info label-large label-title"><%= render_link_title(link) %></span>
            <% end %>
            <div align="center">
            <%= image_tag(link.photos.first.file.tiny) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" align="center">
    <%= will_paginate @links, renderer: BootstrapPagination::Rails %>
  </div>
</div>
<%= content_for :javascripts do %>
<script type="text/javascript">
$(function(){
  $('.masonry-container').imagesLoaded(function(){
    $('.masonry-container').masonry({
      itemSelector: '.box ',
      columnWidth: 180
    });
  })
})
</script>
<% end %>