<div class="span5" style="float:right;">
  <div class="white-box" align="center">
  <%= image_tag(@link.photo.file) %>
  </div>
</div>
<div class="span7">
  <div class="white-box">
  <%= video_tag(@link.clip, :controls => true, :width => 530) %>
  </div>
</div>
<div class="span4">
  <br>
  <div class="white-box">
    <%= link_to(content_tag(:i,"",:class =>"icon-facetime-video")+" 下載播放", @link.clip, :class => "btn btn-warning")%>
    <%= link_to(content_tag(:i,"",:class =>"icon-file")+" 原始頁面",@link.url, :target => "_blank", :class => "btn btn-info") %>
    <hr>
    <%= @link.detail.html_safe %>
    <br />
  </div>
</div>
<div class="span3">
  <br>
  <div class="white-box">
  <%= link_to("這個好正", "", :class => "btn") %>
  <%= link_to("不要鬧了", "", :class => "btn") %>
  </div>
</div>
<div class="span12"><hr></div>

<div class="span12" align="center">
  <%= fb_comments(Setting.domain + url_for(), :width => "940px", :mobile => false ) %>
</div>

