<div class="span5">
  <div class="white-box" align="center">
  <%= image_tag(@link.photo.file) %>
  </div>
</div>
<div class="span7">
  <div class="row">
    <div class="span7">
      <div class="white-box">
        <div id='video' style='display:block;width:530px;height:350px;'>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <br>
      <div class="white-box detail">
        <h3>基本資料</h3>
        <%= @link.detail.html_safe %>
        <br />
      </div>
    </div>
    <div class="span3">
  <br>
  <div class="white-box" align="center">
    <h3>鄉民統計</h3>
    <% if @voter.voted_on?(@link) %>
    覺得她正的共 <%= content_tag(:span, @link.likes.size, :class => "label label-info") %> 票
    <br>
    覺得不正的共 <%= content_tag(:span, @link.dislikes.size, :class => "label label-info") %> 票
    <% else %>
    <%= link_to("這個好正", like_link_path(@link), :class => "btn btn-danger") %>
    <%= link_to("不要鬧了", dislike_link_path(@link), :class => "btn btn-inverse") %>
    <% end %>
    <br>
    <br>
  </div>
</div>
<div class="span3">
  <br>
  <div class="white-box nav-button" align="center">
    <%= render_next_link %>
    <%= render_prev_link %>
  </div>
</div>
  </div>
</div>


<div class="span12"><hr></div>

<div class="span12" align="center">
  <%= fb_comments(Setting.domain + url_for(), :width => "940px", :mobile => false ) %>
</div>
<%= content_for :javascripts do %>
  <%= flowplayer_for :video, '/flowplayer.swf', 'jquery' do |player| %>
    <% player.playlist [{:url => @link.clip, :autoPlay => false, :autoBuffering => false }] %>
      <% player.onLoad do %>
        <% 'this.unmute();' %>
      <% end %>
  <% end %>
<% end %>