<% @links.each_with_index do |link, i| %>
  <div class="span6 offset3">
    <div class="white-panel">
      <div class="row">
        <div class="span3">
          <%= link_to(link_path(link)) do %>
            <%= image_tag(link.photos.first.file, :width => 180) %>
          <% end %>
        </div>
        <div class="span3">
          <br>
          <br>
          <span class="girl-name"><%= render_link_girl_name(link) %></span>
          <div>
            <span class="red">賣鬧指數 <%= link.rate.abs %></span>
          </div>
          <br>
          <div>
            <%= link.detail.html_safe %>
          </div>
          
        </div>
      </div>
    </div>
    <br>
  </div>
<% end %>