<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= link_to(Setting.app_name, Setting.domain , :class => "brand" )%>
      </div>
      <div class="col-md-3">
        <%= render partial: "common/search_form" %>
      </div>
      <div class="col-md-5">
        <div class="menu-items">
          <%= link_to("本週精選",best_of_the_week_links_path, :class => "no-shadow") %> |
          <%= link_to("本月精選",best_of_the_month_links_path, :class => "no-shadow") %> |
          <%= link_to("累計人氣",best_of_all_links_path, :class => "no-shadow") %> |
          <%= link_to("不要鬧", worst_of_all_links_path, :class => "no-shadow") %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="social"><%=  fb_like(request.url) %></div>
      </div>
    </div>
  </div>
</nav>