<div class="navbar navbar-fixed-top white-box" style="opacity:0.7;">
  <div class="navbar-inner top ">
    <div class="container" align="center">
      <%= link_to(Setting.app_name, Setting.domain , :class => "brand" )%>
      <% if @link.present? %>
        <div class="brand-fix"><%= render_link_date(@link) %> - <%= render_link_girl_name(@link) %></div>
      <% else %>
        <div class="nav-collapse">
        <%# render_list :class => "nav" do |li|
          li << link_to("本週最優",best_of_the_week_links_path)
          li << link_to("本月最優",best_of_the_month_links_path)
        end %>
        </div>
      <% end %>
      <div class="social"><%=  fb_like(request.url) %></div>
    </div>
  </div>
  <%= yield :submenu %>
</div>